$theme-colors: (
    'primary': #264b77,
);

.hide-mobile {
    @media (max-width: 576px) {
      display: none;
    }
  }
  
  .hide-desktop {
    @media not all and (max-width: 576px) {
      display: none;
    }
  }

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
